name: Build RPM and DEB Packages

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v4

    - name: Install Build Tools
      run: |
        sudo apt-get update
        sudo apt-get install -y rpm debhelper devscripts build-essential

    - name: Build DEB Package
      run: |
        echo "--- Building DEB ---"
        dpkg-buildpackage -us -uc -b
        
        ls -l ../*.deb

    - name: Build RPM Package
      run: |
        mkdir -p ~/rpmbuild/{BUILD,RPMS,SOURCES,SPECS,SRPMS}
        
        cp count_files.sh ~/rpmbuild/SOURCES/
        cp rpm/count_files.spec ~/rpmbuild/SPECS/
        
        echo "--- Building RPM ---"
        rpmbuild -bb ~/rpmbuild/SPECS/count_files.spec
        
        ls -l ~/rpmbuild/RPMS/noarch/*.rpm

    - name: Upload DEB Artifact
      uses: actions/upload-artifact@v4
      with:
        name: deb-package
        path: ../*.deb

    - name: Upload RPM Artifact
      uses: actions/upload-artifact@v4
      with:
        name: rpm-package
        path: ~/rpmbuild/RPMS/noarch/*.rpm
